@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
    --gradient: linear-gradient(90deg,
            #2d419a,
            #2a5dac,
            #2583be,
            #229ccb,
            #24abd5,
            #22bcde,
            #20d6eb,
            #1bfafd);
}



body {
    background: #ddd;
    background-image: url("../photo-1628367282397-bf7cb7d6e4b3.avif");
}

body,
input,
textarea,
nav-link,
select {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header nav ul {

    background-image: url("../photo-1628367282397-bf7cb7d6e4b3.avif");
    list-style: none;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 0 0 1em;
}

header nav ul li {
    display: inline-block;
    margin: 0 1em;
    padding: 1em 0 1em 0;
}

header nav ul li:not(:nth-child(-n+2)) {
    float: right;
}


input {
    height: 1.5em;
    margin: 0;
    padding: .25em .5em;
}


select {
    height: 2.5em;
}


select[multiple] {
    height: 7.5em;
}


textarea {
    margin: 0;
    padding: .25em .5em;
}


table {
    width: 100%;
}


.helptext {
    display: block;
    font-size: 80%;
}


.login-form,
.signup-form {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 400px;
    padding: 2em;
}



.task-form,
.project-form {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 600px;
    padding: 2em;
}


.task-form h1,
.login-form h1,
.signup-form h1,
.project-list h1,
.project-form h1,
.project-detail h1 {
    margin-top: 0;
}


.project-detail h2 {
    margin-top: 2em;
}


.task-form p,
.login-form p,
.signup-form p,
.project-form p {
    display: grid;
    align-items: center;
    column-gap: 10px;
    grid-template-columns: 100px 1fr;
}


.task-form p .helptext,
.login-form p .helptext,
.signup-form p .helptext,
.project-form p .helptext {
    grid-column-start: 2;
    grid-column-end: 3;
}


.task-form nav-link,
.my-tasks-list nav-link,
.login-form nav-link,
.signup-form nav-link,
.project-form nav-link {
    padding: 0.25em 1em;
}


.my-tasks-list,
.project-list,
.project-detail,
.update_task {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 800px;
    padding: 2em;
}


.my-tasks-list th,
.my-tasks-list td,
.project-list th,
.project-list td,
.project-detail th,
.project-detail td {
    padding: 1em;

}

.my-tasks-list thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
    border-bottom: 2px solid #8698c8;
}

.my-tasks-list main div a,
.project-detail main div a,
.project-list main div a {
    display: inline-block;
    margin: 0;
    padding: 0;

}

.my-tasks-list thead tr th,
.project-detail thead tr th,
.project-list thead tr th {
    font-style: italic;
}

.my-tasks-list tbody td:nth-child(2),
.my-tasks-list tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td:nth-child(5) {
    text-align: center;
}


.project-list tbody a:hover {
    font-style: italic;
    font-weight: bold;

}

.my-tasks-list tbody a:hover,
.project-detail tbody a:hover {
    color: red;

}

.my-tasks-list tbody :not(tr:last-child) td,
.project-list tbody :not(tr:last-child) td,
.project-detail tbody :not(tr:last-child) td {
    border-bottom: 1px solid #abadd4;

}

.project-list tbody tr td a,
.project-list a,
.project-detail tbody tr td a,
.project-detail a,
.my-tasks-list a {

    text-decoration: none;
    color: black;
}

.project-detail-tasks {
    display: grid;
    align-items: center;
    column-gap: 5px;
    grid-template-columns: 140px 1fr;
}

.nav-link {
    display: block;
    padding: 1rem, 5rem;
    position: relative;
    text-decoration: none;
    color: black;
}

.nav-link::before,
.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: #229ccb;
    transform: scaleX(0);
    transition: transform .25s;
}

.nav-link::before {
    top: -3px;
    transform-origin: left;
}

.nav-link::after {
    bottom: -3px;
    transform-origin: right;
}

.nav-link:hover::before,
.nav-link:hover:after {
    transform: scaleX(1)
}

.link {
    display: inline-block;
    padding: 1rem, 5rem;
    position: relative;
    text-decoration: none;
    color: black;
}

.link::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: #2d419a;
    transform: scaleX(0);
    transition: transform .25s;
}

.link::after {
    bottom: -3px;

}

.link:hover:after {
    transform: scaleX(1)
}

.btn {

    display: grid;
    margin: auto;
    cursor: pointer;

    padding: 0.25em 1em;
    border: #9a9dc8 .15em solid;
    border-radius: .25em;

    text-shadow: 0 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.5em currentColor;
    box-shadow: inset 0 0 0.75em 0 #9a9dc8, 0 0 0.75em 0 #9a9dc8;
    position: relative;
}

.btn::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: #9a9dc8;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(40deg) scale(1.5, 0.5);
    filter: blur(.75em);
}

.btn:hover,
.btn:focus {
    background: #9a9dc8;
    color: white;

}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 1em 0.5em #9a9dc8;
    opacity: 0;

    transition: opacity 100ms linear;
}

.btn:hover::after,
.btn:hover::before {
    opacity: 1;

}
