{% extends 'index.html' %}

{% block title %}
    Sign Up
{% endblock title %}
{% block content %}
    <main id="swup" class="transition-fade">
        <div class="signup-form">
            <h1>Signup</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn">Sign up</button>
            </form>
        </div>
    </main>
{% endblock content %}
