{% extends 'index.html' %}

{% block title %}
    My tasks
{% endblock title %}
{% block content %}
    <main id="swup" class="transition-fade">
        <div class="my-tasks-list">
            <h1>My Tasks</h1>
            <p><a class="link" href = "{% url "create_task" %}">Create a new task</a></p>
            {% if task_list|length == 0 %}
                <p>You have no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Project</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_list %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.project }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                                <td><a href = "{% url "update_task" task.id %}">Update</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
