{% extends 'index.html' %}
{% block title%} Update task {% endblock title%}

{% block content %}

      <main id="swup" class="transition-fade">
        <div class="update_task">
          <h2>Update task</h2>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn">Update</button>
          </form>
        </div>
      </main>
{% endblock content%}
