{% extends 'index.html' %}

{% block title %}
    Create a project
{% endblock title %}
{% block content %}
    <main id="swup" class="transition-fade">
        <div class="project-form">
            <h1>Create a new project</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn">Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
