{% extends 'index.html' %}

{% block title %}My Projects{% endblock %}
{% block content %}
    <main id="swup" class="transition-fade">
        <div class="project-list">
            <h1>My Projects</h1>
            <a class="link" href = "{% url "create_project" %}">Create a new project</a>
            {% if project_list|length == 0 %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in project_list %}
                            <tr>
                                <td>
                                    <p><a href="{% url "show_project" project.id %}">{{ project.name }}</p>
                                    </td>
                                    <td>{{ project.tasks.all|length }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </main>
    {% endblock content %}
